<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.plux.api.SpO2Monitoring">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" /> -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_sq"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light" >
        <!-- Remember: Theme applied to all activities. Theme.AppCompat must be used because it is required by AppCompatActivity class.
        The app's activities are children of AppCompatActivity. Set attributes like background color programmatically. -->

        <activity
            android:name="info.plux.api.SpO2Monitoring.activities.ScanActivity"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="info.plux.api.SpO2Monitoring.activities.MainActivity"
            android:label="@string/title_activity_main" />
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- automatic adjustment to landscape -->
    </application>

</manifest>